

/* ======== mobile view ================================*/
    
    body{
        /* background-color: #F9E9DA; */
        background-color: #1B1B1B;
        margin: 10px 50px;
        padding-top:10px;
        background-image: url(../images/black-bg-w:out-logo.png);
        background-size: 100vw;
        background-position-y: 20px;
        background-repeat: no-repeat;
        background-position: top left;
        font-family: sans-serif;
        color: #F1F1F1;
        font-size: 18px;
        
    }

    h1 span::before{
        content:"phone device";
    }

    /* header{
        min-height: 120px;
    } */

    nav{
        margin-top: 20px;
        /* background-color: orange; */
        background-color: rgba(46,45,45,0.5);
        text-align:center;
        min-height: 70px;
    }
  
    
    ul{
        display:flex;
        flex-direction:column;
        align-items:center;

    }

    
    nav ul li{
        padding: 10px 10px;
        width: 100%;
    }


    
    li a{
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-family: 'Public Sans', sans-serif;
        font-size: 18px;
    }
    
    nav a:hover{
        color: white;
        text-decoration: underline;
        font-weight: bold;
    }
    
    a{
        color:wheat;
    }

    .active{
        background-color: #8D3A15;
        color:#1B1B1B;
        font-weight: bold;
    }
    
    .page_container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 20px auto;
    }

    div.page{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 10px;
        align-self: center;
        box-shadow: none;
        border-style: inset;
        background-image: url(../images/page-bg.png);
        
    }

    p{
        margin-bottom: 10px;
    }

    .page h2 {
        font-size: 30px;
        padding: 8px;
        align-self: center;
        text-align: center;
        color: white;
        margin-top: 10px;
    }

    .page p {
            margin: 10px 40px 30px;
            text-align: center;
    }
    
    h1{
        font-family: 'Public Sans', sans-serif;
        font-weight: 500;
        font-size: 50px;
        color: #F1F1F1;
        margin-bottom: 10px;
    }
    
    h2{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    h3{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 13px;
        font-weight: bold;
        margin-top: 10px;
    }

    /* #about_img_container img{
        justify-items: center;
        margin-top:20px;
        width: 100vw;
        height: 200px;
        object-fit: cover;
        max-height: 500px;
        z-index: 0;
    } */

    #about_img_container:hover{
        border: 0px;
    }
    
    #main img:nth-of-type(even){
        border: 10px solid;
        border-image: linear-gradient(#f9dcc4, #f08080) 30;
        margin: auto;
        padding: 5px;
        border-radius: 30px;
    }
    
    
    #main img:nth-of-type(odd){
        border: 10px solid;
        border-image: linear-gradient(#e1eec7, #7fdbff) 30;
        margin: auto;
        padding: 5px;
        border-radius: 30px;
    }
    
    
    
    #main img:hover{
        border: 10px solid;
        border-image: linear-gradient(#d2c4f9, #70e7ee) 30;
        margin: auto;
        border-radius: 30px;
        transform: scale(1.2);
    }
    
    .logo img{
        flex:1;
        border-image: none;
        border: none;
        border-radius: 0px;
        width:10%;
        padding: 0px auto 5px 5px;
    }
    

    .skip{
        /* position:absolute;
        left:-1000px; */
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-100%);
        transition: transform 0.3s;
    }
    
    .skip:focus{
        /* position: relative;
        left:0px; */
        transform: translateY(0%);
    }
    
    .icon{
        color: rgb(255, 238, 185);
        font-size:20px;
    }
    
    .anim-image{
        animation: animate 5s linear infinite, fadeIn 3s;;
    }
    
    
    @keyframes fadeIn {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
        
    }
    
    @keyframes animate {
        from{
            filter: hue-rotate(0deg);
        }
        to{
            filter: hue-rotate(360deg);
        }
    }
    
    
    .container{
        max-width:100vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        background-color: rgba(55, 55, 55, 0.732);
    }

    .lit-item img{
        width:100%;
    }
   
    .lit-item{
        margin: 10px;
        padding: 10px;
    }

    .lit-item h2{
        font-size: 30px;
        
    }

    .lit-item h3{
        text-transform: uppercase;
        font-size: 15px;
        margin: 10px auto;
    }
    
    
    .lit-item ul{
        list-style-type: square;
        text-align: left;
        color: rgb(227, 135, 23);
        display: inline-block;
        padding-left:20px;
        padding-top:10px;
        font-weight: bold;
    }
    
    
    .search-wrapper{
        display: flex;
        flex-direction: column;
        gap: .25rem;
        margin-top: 15px;
    }

    input{
        font-size: 1rem;
        height:40px;
    }

    .dict-container{
        border:1px solid #F1F1F1;
        border-color: rgba(255, 255, 255, 0.584);
        background-color: rgba(255, 255, 255, .015);
        border-radius: 8px;
        padding:10px 10px 20px 10px;
        margin: 10px 0px;
        color: #c5c5c5;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    dt{
        color: black;
        background-color: wheat;
        font-size: 25px;
        padding: 10px;
    }

    .dict-container h3{
        text-transform: uppercase;
        color: white;
        letter-spacing: 0.2rem;

    }


    /* search bar with button */
    .search-form{
        margin-top:15px;
        float:right;
        margin-right: 100px;
    }
    
    input[type=text]{
        padding:7px;
        border:none;
        width:60vw;
        font-size:16px;
        font-family: sans-serif;
    
    }
    
    button{
        width: 20vw;
        /* float:right; */
        background:#F86A2B;
        color: white;
        border-radius: 5px;
        cursor:pointer;
        position: relative;
        padding:7.5px;
        font-family: sans-serif;
        border:none;
        font-size: 16px;
    }
  
    main{
        min-height: 500px;
    }

    footer{
        min-height: 200px;
        background-color: rgba(46,45,45,0.5);
        color: white;
        letter-spacing: 5px;
        font-family: 'Public Sans', sans-serif;
        font-size: 18px;
        padding: 15px 15px 0px 15px;
        width:100%;
        margin: 40px 5px 0px 5px;
        position: relative;
    }

    footer > a {
        position: absolute;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 5px;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        text-align: center;
        text-decoration: none;
        background-color: #8D3A15;
        font-weight: 600;
        color: rgb(255, 255, 255);
      }

    footer > a:hover{
        text-decoration: underline;
    }
  

    
     

  /* ======== tablet view ================================*/

  @media screen and (min-width: 700px){

    body{
        background-image: url(../images/tablet-bg.png);   
        background-size: cover;
   
    }

    h1 span::before {
        content: "tablet device";
    }

    nav{
        flex: 0 1 250px;
        background-color: rgba(46,45,45,0.5);
    }
  
    ul{
        display:flex;
        flex-direction:row;
        justify-content: stretch;

    }

    main{
        flex: 1 0 auto;
    }

    footer{
        background-color: rgba(120, 54, 140, 0.2);
        color: white;
    }
        

    .page_container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
    }

    div.page{
        display: flex;
        width: 40vw;
        margin: 10px 20px;
        flex-wrap: wrap;
        flex-direction: column;
        background-image: url(../images/page-bg.png);
        
    }

    /* change to 2 column grid  */
    .container{
        display: grid;
        column-gap: 20px;
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        column-gap: 20px;
    }
    
    .lit-item img{
        grid-column: 1/2;
        height: 500px;
    }

    .lit-item h2, p{
        grid-column: 2/3;
    }
    
    
    
    /* change the image border hover */
   
    img{
        border: none;
        border-color: #f08080;
        border-width: 10px;
        border: 3px dotted rgb(227, 118, 17);
        margin: auto;
        width: min-content;
        height:min-content;
        object-fit: cover;
    }

    nav ul li:current{
        background-color: #56158d;
    }
    
    img:nth-child(even):hover{
        border: 10px solid;
        border-image: linear-gradient(#d2c4f9, #70e7ee) 30;
        margin: auto;
    }

    img:nth-child(odd):hover {
        border: 5px solid;
        border-image: linear-gradient(#56034b, #6282f6) 30;
        margin: auto;
        transform: scale(0.95);
        transition: transform 0.3s ease-in-out; 
    }




    h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
    }
    
    h2{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 30px;
        font-weight: bold;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    
    h3{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
    }

    .lit-item ul li{
        color: rgb(205, 146, 205);
    }

    .active{
        display: flex;
        background-color: purple;
        height:80px;
        align-items: center;
        justify-content: center;
    }

    footer > a{
        background-color: purple;
    }
    dt{
        background-color: #b98ed5;
    }
    .icon{
        color: rgb(234, 45, 183);
    }
}
    /* ======== desktop view ================================*/

    @media screen and (min-width: 1100px){
        body{
        background: linear-gradient(-45deg, #1105688a, #6c0785, #c9370e, #139c7c);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        background-attachment: fixed;
      }
      
      /* gradient background */
      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
    
         /* Apply the animation to the title element */
    h1 {
    animation-name: title;
    text-align: center;
    margin:15px;
    animation-duration: 4s;
    animation-timing-function: ease-in-out; /* Optional: specify the timing function for the animation */
    animation-iteration-count: 1; /* Optional: specify the number of times the animation should repeat */
    }
          /* Define the keyframes for the animation */
    @keyframes title {
    0% {
      transform: scale(1); /* Initial state of the title */
    }
    50% {
      transform: scale(1.2); /* Mid-state of the title, scaled up */

    }
    100% {
      transform: scale(1); /* Final state of the title, scaled back to normal */
    }
    }

        .logo img{
            width: 5%;
        }

         /* change to 3 columns grid  */
    .container{
        display: grid;
        column-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 30px;
        column-gap: 20px;
    }
    
    .lit-item img{
        grid-column: 1/2;
        height: 500px;
    }

    .lit-item h2, p{
        grid-column: 2/3;
    }

    img{
        border: 3px dotted rgb(255, 255, 255);
    }
    
    .lit-item:nth-child(2n) img {
        border: dashed rgb(255, 46, 210) 2px;
    }

    .lit-item:nth-child(2n) img:hover {
        border-image: linear-gradient(#bf14a5, #cd790b);
        border: 10px solid;
    }

    .lit-item ul li {
        color: rgb(179, 254, 202);
    }

    div.page{
        background-color: rgba(132, 13, 168, 0.878);
    }
    .active{
        background-color:rgba(21, 8, 91, 0.528);
    }

    }
